<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/adminreg.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<video src="../static/video/background.mp4" autoplay loop playsinline muted></video>
<form id="forms" method="post">
    <h1>Admin Registration</h1>
    <div class="user">
        <i class="fas fa-user"></i>
        <input type="email" placeholder="Mail ID" name="mail" id="mail">
        <small></small>
    </div>
    <div class="password">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="password" id="password" title="Length should be between 8 to 15 characters" pattern="[a-zA-z0-9]{8,15}">
        <br>
        <small></small>
    </div>
    <div class="password">
        <i class="fas fa-lock"></i>
        <input type="text" placeholder="HOSPITAL ID" name="reqid" id="RequestID" title="Id length should be 4" pattern="[0-9]{4}" required>
        <br>
        <small></small>
    </div>
    <div class="button">
        <button class="button"><b>REGISTER</b></button>
        <button><a href="/">LOGIN</a></button>
    </div>
    <h4 class="text-danger" id="pass-warning" style="color: white"></h4>
</form>
<script>document.getElementById("pass-warning").innerHTML = '{{data}}';</script>
<script src="../static/js/adminreg.js"></script>
</body>
</html>
